# 代理
HTTP_PROXY=xx
HTTPS_PROXY=xx

# OpenAI API
OPENAI_API_KEY=xx
OPENAI_BASE_URL=xx

# 火山引擎API
DOUBAO_TTS_APPID=xx
DOUBAO_TTS_TOKEN=xx
DOUBAO_TTS_CLUSTER=xx
DOUBAO_TTS_VOICE_TYPE=xx

# Notion API
NOTION_API_KEY=xx
NOTION_PAGE_ID=xx

# Hugging Face镜像源
HF_ENDPOINT=https://hf-mirror.com